<script>
	import '../app.css';
</script>

<div class="grid lg:grid-cols-2 min-h-screen">
	<div class="h-full flex-col justify-center items-center hidden lg:flex">
		<div class="flex flex-col gap-8">
			<div class="font-extrabold text-[96px] leading-tight">
				<h2>Make your</h2>
				<div class="flex items-end">
					<h1 class="text-[117px] text-[#0094FF]">Booking</h1>
					.
				</div>
			</div>
			<p class="text-center italic text-lg font-semibold text-gray-600">
				We’re available when you are. Happy booking. See you soon.
			</p>
		</div>
	</div>
	<div
		class="flex flex-col gap-y-4 p-6 justify-center items-center bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-[#85D3FF] to-[#0094FF]"
	>
		<div class="flex flex-col gap-8 lg:hidden">
			<div class="font-extrabold text-[2.5rem] leading-tight">
				<h2>Make your</h2>
				<div class="flex items-end">
					<h1 class="text-5xl text-[#fff]">Booking</h1>
					.
				</div>
			</div>
		</div>
		<slot />
	</div>
</div>
