<script lang="ts">
	import Calendar from '$lib/components/Calendar.svelte';
	import Confirmation from '$lib/components/Confirmation.svelte';
	import ProgressBar from '$lib/components/ProgressBar.svelte';
	import Services from '$lib/components/Services.svelte';
	import TimePicker from '$lib/components/TimePicker.svelte';
	import { appointment } from '$lib/stores/appointment';
	import { step } from '$lib/stores/steps';
</script>

<div
	class="w-full max-w-[400px] min-h-[500px] rounded-2xl p-5 bg-[#EBF8FF] bg-opacity-75 flex flex-col gap-y-4"
>
	<ProgressBar {step} />
	{#if $step === 1}
		<Calendar />
	{/if}
	{#if $step === 2}
		<TimePicker />
	{/if}
	{#if $step === 3}
		<Services />
	{/if}
	{#if $step === 4}
		<Confirmation />
	{/if}
</div>
{JSON.stringify($appointment)}
