<script lang="ts">
	import { browser } from '$app/environment';
	import { appointment } from '$lib/stores/appointment';
	import StepControl from './StepControl.svelte';

	const date = new Date();

	const today = {
		dayNumber: date.getDate(),
		month: date.getMonth(),
		year: date.getFullYear()
	};

	let stored = browser && $appointment.date ? $appointment.date.split('-') : null;
	$: selected =
		stored != null
			? { dayNumber: Number(stored[2]), month: Number(stored[1]) - 1, year: Number(stored[0]) }
			: today;

	const months = [
		'January',
		'February',
		'March',
		'April',
		'May',
		'June',
		'July',
		'August',
		'September',
		'October',
		'November',
		'December'
	];

	const days = ['S', 'M', 'T', 'W', 'T', 'F', 'S'];

	let monthIndex = stored !== null ? Number(stored[1]) - 1 : date.getMonth();

	$: month = months[monthIndex];

	let year = date.getFullYear();

	$: firstDayIndex = new Date(year, monthIndex, 1).getDay();

	$: numberOfDays = new Date(year, monthIndex + 1, 0).getDate();

	$: calendarCellsQty = firstDayIndex <= 4 ? 35 : 42;

	const goToNextMonth = () => {
		if (monthIndex === 11) {
			year += 1;
			return (monthIndex = 0);
		}
		return (monthIndex += 1);
	};

	const goToPrevMonth = () => {
		if (monthIndex <= 0) {
			year -= 1;
			return (monthIndex = 11);
		}
		return (monthIndex -= 1);
	};

	const setSelected = (day: number, month: number, year: number) => {
		if (
			(day < today.dayNumber && month == today.month) ||
			month < today.month ||
			year < today.year
		) {
			return;
		} else {
			selected = {
				dayNumber: day,
				month: month,
				year
			};
			$appointment.date = `${selected.year}-${selected.month + 1}-${selected.dayNumber}`;
		}
	};

	// if (stored && $appointment.date) {
	// 	setSelected(selected.dayNumber, selected.month, selected.year);
	// }

	//output
	//{new Date(`${selected.month + 1}-${selected.dayNumber}-${selected.year}`)}
	// Result: Thu Apr 11 2024 00:00:00 GMT-0400 (Bolivia Time)
</script>

<div class="flex flex-col">
	<div class="flex justify-between items-center">
		<button class="p-4 text-xl" on:click={goToPrevMonth}>&#10094;</button>
		<span class="font-semibold">{month} {year}</span>
		<button class="p-4 text-xl" on:click={goToNextMonth}>&#10095;</button>
	</div>
	<div class="grid grid-cols-7">
		{#each days as day, i}
			<span class="text-center font-bold text-[#0094FF]">{day}</span>
		{/each}
	</div>
	<div class="grid grid-cols-7">
		{#each Array(calendarCellsQty) as _, i}
			{#if i < firstDayIndex || i >= numberOfDays + firstDayIndex}
				<div>&nbsp;</div>
			{:else}
				<button
					class={`"w-4 aspect-square text-center rounded-full font-semibold hover:bg-[#ACE1FF] " ${
						(i < today.dayNumber + (firstDayIndex - 1) && monthIndex == today.month
							? 'text-gray-400'
							: monthIndex < today.month || year < today.year) && 'text-gray-400'
					} ${
						i === selected.dayNumber + (firstDayIndex - 1) &&
						monthIndex === selected.month &&
						year === selected.year &&
						'bg-[#0094FF] font-black text-white '
					}`}
					data-dateID={`${month}_${i - firstDayIndex + 1}_${year}`}
					on:click={() => setSelected(i - firstDayIndex + 1, monthIndex, year)}
				>
					{i - firstDayIndex + 1}
				</button>
			{/if}
		{/each}
	</div>
</div>
<StepControl isSelected={$appointment.date == ''} />
