<script lang="ts">
	import { appointment } from '$lib/stores/appointment';
	import type { Service } from '$lib/types';
	import { formatDate, getService } from '$lib/utils';
	import StepControl from './StepControl.svelte';

	const service: Service = getService($appointment.service);
</script>

<div class="flex flex-col pt-6 gap-y-2">
	<h3 class=" text-[#5d5d5d]">Appointment confirmation</h3>
	<h1 class="text-[#0094FF] text-4xl font-extrabold">{formatDate($appointment.date)}</h1>
	<h2 class="text-3xl font-extrabold">{$appointment.time}</h2>
	<div class="flex justify-between">
		<span class="text-2xl">Service: {service.name} </span>
		<span class="text-4xl font-bold">${service.price}</span>
	</div>
	<div class="flex flex-col gap-y-3">
		<input
			type="email"
			class="bg-[#ace1ff] py-2 px-4 placeholder:text-[#5d5d5d] rounded-md"
			placeholder="Enter your email address"
		/>
		<p class="text-[#5d5d5d] text-center">or</p>
		<div class="flex justify-between gap-x-4 w-full">
			<button class="py-2 px-4 bg-white rounded-md w-full flex justify-center items-center">
				<img alt="google" src="/Google.png" />
			</button>
			<button class="py-2 px-4 bg-white rounded-md w-full flex justify-center items-center">
				<img alt="apple" src="/Apple logo.png" />
			</button>
			<button class="py-2 px-4 bg-white rounded-md w-full flex justify-center items-center">
				<img alt="facebook" src="/Facebook.png" />
			</button>
		</div>
	</div>
</div>

<StepControl isSelected={true} />
