<script lang="ts">
	import type { Writable } from 'svelte/store';

	export let step: Writable<number>;
	let headings = [
		{
			name: 'Date'
		},
		{
			name: 'Time'
		},
		{
			name: 'Service'
		},
		{
			name: 'Confirm'
		}
	];
</script>

<div class="grid grid-cols-4 gap-x-8 relative">
	{#each headings as { name }, i}
		<div class="flex flex-col gap-2 justify-center items-center">
			<h3>{name}</h3>
			<span
				class={`" w-full rounded-full p-1 " ${i + 1 <= $step ? 'bg-[#0094FF]' : 'bg-black opacity-25'}`}
			></span>
		</div>
	{/each}
</div>
