<script lang="ts">
	import { browser } from '$app/environment';
	import { appointment } from '$lib/stores/appointment';
	import StepControl from './StepControl.svelte';

	import { services } from '$lib/constants';
	import type { Service } from '$lib/types';

	let stored = browser && $appointment.service;
	let selectedIndex: number;
	if (stored) {
		services.some((service: Service, i) => {
			if (service.id === $appointment.service) {
				selectedIndex = i;
				return true;
			}
		});
	}

	const selectService = (index: number) => {
		selectedIndex = index;
		$appointment.service = services[index].id;
	};
</script>

<div class="flex flex-col gap-y-4">
	{#each services as { name, price, time }, i}
		<button
			class={`flex justify-between items-center  rounded-md py-1 px-4 hover:bg-[#0094ff] group ${selectedIndex === i ? 'bg-[#0094ff]' : 'bg-[#BDE7FF]'}`}
			on:click={() => selectService(i)}
		>
			<div
				class={`flex flex-col items-start font-semibold group-hover:text-white ${selectedIndex === i ? 'text-white' : 'text-[#5d5d5d] '}`}
			>
				<span>{name}</span>
				<span>{time} mins</span>
			</div>
			<div
				class={` text-2xl font-bold group-hover:text-white ${selectedIndex === i ? 'text-white' : 'text-[#0094ff]'}`}
			>
				${price}
			</div>
		</button>
	{/each}
</div>
<StepControl isSelected={$appointment.service == ''} />
