<script lang="ts">
	import { step } from '$lib/stores/steps';

	export let isSelected: boolean = true;
	const nextStep = () => {
		if ($step < 4) {
			$step += 1;
		}
	};

	const prevStep = () => {
		if ($step > 1) {
			$step -= 1;
		}
	};
</script>

<div class="flex gap-x-4">
	<button
		on:click={prevStep}
		class={`"py-2 px-4 bg-[#85D3FF] text-white font-bold rounded-md " ${$step == 1 && 'hidden'}`}
		>Back</button
	>
	<button
		class="py-2 px-4 bg-[#0094FF] text-white font-bold rounded-md w-full disabled:bg-[#85D3FF]"
		on:click={nextStep}
		disabled={isSelected}
	>
		Continue
	</button>
</div>
