<script lang="ts">
	import { browser } from '$app/environment';
	import { appointment } from '$lib/stores/appointment';
	import StepControl from './StepControl.svelte';

	let startTime = '08:00:00';
	let endTime = '18:30:00';
	let timeInterval = 30; //minutes;

	let timeDiff =
		Math.abs(
			new Date(`${$appointment.date} ${startTime}`).getHours() -
				new Date(`${$appointment.date} ${endTime}`).getHours()
		) *
			2 +
		1;

	let selectedDate = Date.parse(`${$appointment.date} ${startTime}`);
	let times: string[] = [];

	for (let i = 0; i < timeDiff; i++) {
		const hours = new Date(selectedDate + i * timeInterval * 60 * 1000);
		times.push(hours.toLocaleTimeString(undefined, { timeStyle: 'short' }));
	}

	let stored = browser && $appointment.time;
	let selectedIndex: number;
	if (stored) {
		selectedIndex = times.indexOf($appointment.time);
	}

	const selectTime = (index: number) => {
		selectedIndex = index;
		$appointment.time = times[index];
	};
</script>

<div class="grid grid-cols-3 gap-4">
	{#each times as time, i}
		<button
			class={`py-1.5 px-4 hover:bg-[#0094FF] hover:text-white hover:font-bold rounded-md ${selectedIndex === i && 'bg-[#0094FF] text-white font-semibold'}`}
			on:click={() => selectTime(i)}>{time}</button
		>
	{/each}
</div>
<StepControl isSelected={$appointment.time == ''} />
